<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431633313063-qbhkboo1e7mqlus3uoacfkso1evrceq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431633313063-qbhkboo1e7mqlus3uoacfkso1evrceq0</string>
	<key>API_KEY</key>
	<string>AIzaSyCcC7PJAkSGOSl9_chIMFoW6HeFef9Dmag</string>
	<key>GCM_SENDER_ID</key>
	<string>431633313063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ah-portal.initial</string>
	<key>PROJECT_ID</key>
	<string>actually-happening-portal</string>
	<key>STORAGE_BUCKET</key>
	<string>actually-happening-portal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431633313063:ios:bfcee2cb778dc4af110d02</string>
</dict>
</plist>